.spinner,
.spinner:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

.spinner-in-button {
    margin: 0px !important;
    width: 7em;
    height: 7em;
}

.spinner {
    margin: 60px auto;
    font-size: 3px;
    position: relative;
    text-indent: -9999em;
    border-top: 0.125rem solid var(--spinner-bg);
    border-right: 0.125rem solid var(--spinner-bg);
    border-bottom: 0.125rem solid var(--spinner-bg);
    border-left: 0.125rem solid var(--spinner-fg);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}