.navbar_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 20px;
    background-color: var(--gray-50);
    border-bottom: 1px solid var(--gray-100);
}

.navbar_logo {
    font-size: 22px;
    font-weight: 500;
    font-family: "Menlo" !important;
}

.navbar_option {
    font-weight: 600;
    font-size: 17px;
    color: var(--gray-800);
    cursor: pointer;
    padding: 7px;
    border-radius: 3px;
    margin-right: 10px;
}

.navbar_option:hover {
    background-color: #f8f4f0;
}